main.container{

    max-width:900px;

    margin:40px auto;

    padding:30px;

    border-radius:18px;

    background:var(--card-bg);

    border:1px solid var(--border-color);

    backdrop-filter:blur(14px);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.4),
        0 0 0 1px rgba(255,255,255,0.03) inset;

    color:#e2e8f0;
}

main h1{

    font-size:32px;
    margin-bottom:30px;

    font-weight:600;

    color:#f1f5f9;
}

main h2{

    margin-top:35px;
    margin-bottom:10px;

    font-size:20px;
    font-weight:600;

    color:#e2e8f0;
}

main p{

    font-size:15px;

    line-height:1.7;

    color:#cbd5f5; /* вместо #9ca3af */

    margin-bottom:14px;
}

main a{

    color:#3b82f6;

    text-decoration:none;
}

main a:hover{
    text-decoration:underline;
}

main strong{
    color:#f1f5f9;
}